.body {
    font-family: 'Lato', sans-serif;
    max-width: 2000px;
    min-height: 965px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/john-mcarthur-ROQzKIAdY78-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}